* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/img/pexels-karolina-grabowska-5412101.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

video{
  box-shadow: 5px 5px 5px gray;
}


button {
  margin: 5px;
  padding: 20px;
  background-color: pink;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(206, 175, 209) ;
  border: none;
}

.result-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 50px;
    color: rgb(183, 157, 122);
}
